*{
    margin: 0;
}

.header{
    background-color:  rgba(229, 84, 115, 0.10);
    position: relative;
    height: 850px;
   
    /* width: 1920px; */
 /* height: 100vh;  */

/* margin-right: 0; */
/* width: auto; */

}

  
.banner{
  
    display: flex;
    padding: 197px 972px 3px 240px ;
    align-items: center;
    /* gap: 97px; */
    justify-content: space-between;

   
}
   




.heading{
    display: flex;
width: 708px;
flex-direction: column;
flex-shrink: 0;
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner-des{
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;

font-weight: 400;
line-height: 30px;
display: flex;
width: 634px;
flex-direction: column;
flex-shrink: 0;
margin-top: 32px;
margin-bottom: 32px;
}

.banner-img{

width: 635px;
height: 800px;
padding-top : 50px;
padding-right: 50px;
position: absolute;
left: 1300px;
right: 5px;
bottom: 0px;


}

.btn-primary{
border-radius: 8px;
background: #E55473;
display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
color: #FFF;
font-size: 20px;
font-weight: 700;
border: none;

}

/* main section styles*/
.section-text{
    text-align: center;
}
.main-heading-1{
    margin-bottom: 50px;
    font-size: 40px;
    padding-top: 100px;
}
.main-des-1{
   
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
margin-bottom: 50px;

}


.section-img{
    height: 1000px;
   background-position: center;
    width: auto;
    background: #FFF;
    margin-left: 240px;
    margin-right: 240px;
  
    display: flex;
    gap: 20px;
    justify-items: center;
    position: relative;
   right: -120px;
  
}
.first-img{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
    width: 310px;
height: 428px;
flex-shrink: 0;
padding: 110px 78px 0px 76px;

}
.sec-img{
    border-radius: 300px 300px 0px 0px;
  
background: rgba(5, 151, 160, 0.15);
  
        width: 310px;
    height: 428px;
    flex-shrink: 0;
    padding: 110px 78px 0px 76px;

}
.third-img{
   
border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
       
   
    padding: 67px 75px 0px 75px;
   
    width: 310px;
    height: 470px;
   

flex-shrink: 0;

}

.img-text{
    text-decoration: underline;
    text-align: center;
}
#problem{
    margin-top: 55px;
}