*{
    margin: 0;
}

.header{
    background-color:  rgba(229, 84, 115, 0.10);
    position: relative;
    height: 850px;
   
    /* width: 1920px; */
 /* height: 100vh;  */

/* margin-right: 0; */
/* width: auto; */

}

  
.banner{
  
    display: flex;
    padding: 197px 972px 3px 240px ;
    align-items: center;
    /* gap: 97px; */
    justify-content: space-between;

   
}
   




.heading{
    display: flex;
width: 708px;
flex-direction: column;
flex-shrink: 0;
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner-des{
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;

font-weight: 400;
line-height: 30px;
display: flex;
width: 634px;
flex-direction: column;
flex-shrink: 0;
margin-top: 32px;
margin-bottom: 32px;
}

.banner-img{

width: 635px;
height: 800px;
padding-top : 50px;
padding-right: 50px;
position: absolute;
left: 1300px;
right: 5px;
bottom: 0px;


}

/* main section styles */
.main-heading1{color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}






.btn-primary{
border-radius: 8px;
background: #E55473;
display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
color: #FFF;
font-size: 20px;
font-weight: 700;
border: none;

}